<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="threadMapper">
    <select id="getThreads">
        SELECT p.*, u.nickname, u.img_url AS userimg , COUNT(c.comment_id) AS commentCnt
        FROM post p
        LEFT OUTER JOIN user u ON p.user_id = u.user_id
        LEFT OUTER JOIN comment c ON p.post_id = c.post_id
        GROUP BY p.post_id, p.title, p.content, p.created, p.img_name, p.img_url, p.like, p.modified, p.user_id, u.nickname, u.img_url
        ORDER BY ${orderCommend} ${orderby}
        <if test="offset >= 0">
            LIMIT 4 OFFSET ${offset}
        </if>
    </select>

    <select id="getThread">
        SELECT post.post_id AS postId, post.title AS postTitle, post.content AS postContent, post.img_url AS postImg, post.img_name AS postImgName, post.created AS postCreated, post.modified AS postModified, post.like AS postLike,
        user.nickname AS postWriteUser, user.img_url AS  postWriteUserImgUrl
        FROM post
        LEFT OUTER JOIN user ON post.user_id = user.user_id
        <where>
            post.post_id = ${threadid}
        </where>
    </select>

    <select id="getThreadComment">
        SELECT comment.comment_id AS commentId, comment.parent_num AS commentParentNum, comment.content AS commentContent,
        comment.created AS commentCreated, comment.modified AS commentModified, comment.like AS commentLike,
        user.nickname AS commentWriteUser, user.img_url AS commentWriteUserImgUrl
        FROM comment
        LEFT OUTER JOIN user ON comment.user_id = user.user_id
        <where>
            comment.post_id = ${threadid}
        </where>
        ORDER BY comment.created ASC
    </select>

    <select id="selectCountAll">
        SELECT COUNT(*) AS postCount FROM post
    </select>
</mapper>