<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="threadMapper">
    <select id="getThreads">
        SELECT p.*, u.nickname, u.img_url AS userimg , COUNT(c.comment_id) AS commentCnt
        FROM post p
        LEFT OUTER JOIN user u ON p.user_id = u.user_id
        LEFT OUTER JOIN comment c ON p.post_id = c.post_id
        GROUP BY p.post_id, p.title, p.content, p.created, p.img_name, p.img_url, p.like, p.modified, p.user_id, u.nickname, u.img_url
        ORDER BY ${orderCommend} ${orderby}
        <if test="offset >= 0">
            LIMIT 4 OFFSET ${offset}
        </if>
    </select>

    <select id="getThread">
        SELECT post.post_id, post.title, post.content, post.img_url, post.img_name, post.created, post.modified, post.like,
        user.user_id AS author_id, user.password AS author_password, user.email AS author_email, user.nickname AS author_nickname,
        user.img_url AS author_img_url, user.img_name AS author_img_name, user.description AS author_description,
        user.activated AS author_activated,
        comment.comment_id, comment.parent_num, comment.content AS comment_content, comment.created AS comment_created,
        comment.modified AS comment_modified, comment.like AS comment_like, comment.user_id AS commenter_id,
        comment.post_id AS commented_post_id
        FROM post
        LEFT OUTER JOIN user ON post.user_id = user.user_id
        LEFT OUTER JOIN comment ON post.post_id = comment.post_id
        <where>
            post.post_id = 3
        </where>
        LIMIT 1 OFFSET 0
    </select>

    <select id="selectCountAll">
        SELECT COUNT(*) AS postCount FROM post
    </select>
</mapper>